<div class="col-md-12 col-lg-12">
	<div class="panel panel-default">

		<div class="panel-title">
			Subject Management 
			<!-- <ul class="panel-tools">
					<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
					<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
					<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
				</ul> -->
		</div>


		<div class="panel-body">
			<form name="addForm" ng-init="addForm.$pristine">
				<div class="row">
					<div class="col-md-12 col-xs-12">
					
					 <div class="col-md-12 col-xs-12">
							<div class="form-group">
								<label for="fullname">Course Name</label> 
								<div class="input-group ">
								<span class="input-group-addon">
                    				<i class="fa fa-cubes"></i></span>
								<select class="form-control"
								ng-model="subject.course.course_id" name="course_name" 
								ng-options="course.course_id as course.course_name for course in vm.courses" required>
								<option value="" disabled selected>Select Course </option></select>
								<div class="input-group-addon"><a popover-placement="left"
							uib-popover="Add new entry from here.."
							popover-trigger="'mouseenter'" class="icon" ng-click="vm.addCourse()"><i
								class="fa fa-plus"></i></a></div>
							</div>
							<span class="mandatory" ng-show = "addForm.course_name.$touched && addForm.course_name.$invalid">  
								<span class="mandatory" ng-show = "addForm.course_name.$error.required" style="color:red;">This field is compalsary.</span>  
							</span>
						</div>
					</div>
						<div class="col-md-12 col-xs-12">
							<div class="form-group">
								<label for="fullname">Subject Name * :</label> <input type="text"
									ng-model="subject.subject_name" name="subject_name"
									class="form-control" required />
							</div>
							<span class="mandatory" ng-show = "addForm.subject_name.$touched && addForm.subject_name.$invalid">  
								<span class="mandatory" ng-show = "addForm.subject_name.$error.required" style="color:red;">This field is compalsary.</span>  
							</span>
						</div>
					
								
						<div class="col-md-12 col-xs-12">
							<div class="form-group">
								<label for="fullname">Subject Language</label> <select
									class="form-control" ng-model="subject.sub_language" name="sub_language" required >
									<option value="English">English</option>
									<option value="Hindi">hindi</option>
									<option value="Marathi">Marathi</option>
									
								</select>
								<span class="mandatory" ng-show = "addForm.sub_language.$touched && addForm.sub_language.$invalid">  
								<span class="mandatory" ng-show = "addForm.sub_language.$error.required" style="color:red;">This field is compalsary.</span>  
							</span>
							</div>
						</div>
						<div class="col-md-12 col-xs-12">
							<div class="form-group">
								<label for="fullname">Subject Description * :</label> <input type="text"
									ng-model="subject.subject_description" 
									class="form-control" required />
							</div>
						</div> 
						
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<div class="form-group pull-right">
									<button type="submit" class="btn btn-default btn-danger"
										ng-click="vm.cancel()">Cancel</button>
									<button type="submit" class="btn btn-default btn-primary"
										ng-click="vm.ok(subject)" ng-disabled="!addForm.$valid">Submit</button>
								</div>
							</div>
						</div>.
					</div>
			
				</div>
			</form>	

		</div>

	</div>
</div>