<div class="login-form">
      <form>
        <div class="top">
          <h1>MCQ</h1>
          <h4>Multiple Choice Question</h4>
        <!--   <h4>DealerDistributor Management </h4> -->
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" ng-model="login.mobile_no" placeholder="Enter Mobile Number">
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" ng-model="login.password" placeholder="Enter Password">
            <i class="fa fa-key"></i>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="checkbox101" type="checkbox" checked>
            <label for="checkbox101"> Remember Me</label>
          </div>
          <button type="submit" ng-click="vm.doLogin(login)" class="btn btn-default btn-block">LOGIN</button>
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="#"><i class="fa fa-external-link"></i> Register Now</a></div>
        <div class="col-xs-6 text-right"><a href="#"><i class="fa fa-lock"></i> Forgot password</a></div>
      </div>
    </div>