<div class="modal-header">
	<dl class="dl-horizontal">
		<h3><dt>Delet</dt></h3>
		<dd>{{vm.items.fname}}  {{vm.items.lname}}</dd>
	</dl>
</div>
<div class="modal-body" id="modal-body">
	<dl class="dl-horizontal">
		<dt>Are you sure to delet</dt>
		<dt>its will be deleted its refererance record </dt>
	</dl>
	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.delet(vm.items)">Delet</button>
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>